<div class="center jumbotron main-cont">
  <h1>Benvenuto su  </h1>
  <h1 id="movie"> MOVIEPEDIA </h1>

  <h2>
    Cerca il tuo film, serie tv o personaggio preferito.  </h2>

  <h2>
    Se sei già registrato
    <h2> 
    <%= link_to 'Accedi', new_user_session_path %>,
    <h2>
     altrimenti
    <%= link_to 'Registrati', new_user_registration_path %>

  </h2>

</div>

<style>
  body{
    background: #B5B5B5;
  }

  .main-cont{
    margin-top:5%;
  }

  #movie{
    color: #ff6666 ;
  }
</style>