
<!-- 'https://image.tmdb.org/t/p/original/' -->
<ul>
    <% @res.each do |query|%>
        <li>
            <%= link_to result_path(query.id) do %>
            <% if query.poster_path %>
                <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+query.poster_path)%>' width = 13%>
            <%else%>
                <img src = '<%= image_path('/no_locandina.webp')%>' width = 13%>
            <% end %>
            Titolo: <%= query.title %>
        </li>
        <br>
    <% end %>
</ul>
<% end %>