<br>
<div class = "moviecard">
  <h1 style = "margin-left: 200px;"> CHATROOM </h1>
  <div class = 'msgb' id = 'msgf'>
    <div id = "frame">
      <div class = 'content'>
        <div class = 'messages' id="chat">
          <ul>
          </u>
        </div>
      </div>
    </div>
  </div>
  <div class = 'container container-fluid'>
    <textarea row="1" id="msg" class = 'ta form-control' placeholder='Scrivi qualcosa...' ></textarea>
    <button class = 'inv btn btn-success' id="send">Send Message</button>
  </div>
</div>
<style class = 'cp-pen-styles'>

body {
  background: #B5B5B5;
}

.inv{
  display: inline-block;
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  padding: 15px;
}

.ta{
  width: 970px;
  margin-left: 30px;
  position: relative;
  float: left;
}
.moviecard {
  font-family: 'Helvetica', sans-serif, 'Ariel';
  position: absolute;
  background: #ffffff;
  color: #555555;
  margin-left: -70px;
  width: 1300px;
  max-width: 2000px;
  min-height: 300px;
  height: auto;
  padding: 30px 290px 30px 30px;
  -moz-box-shadow: -5px 5px 15px;
  -webkit-box-shadow: -5px 5px 15px;
  box-shadow: -5px 5px 15px;
  border-radius: 10px;

}


.form-control{
    margin-top: 20px;
    margin-bottom: 20px;
}

.msgb{
 border-style: groove;
 height: 500px;
 width: 1230px;
 overflow-y: auto;
}

#frame .content {
  float: left;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}

#frame .content .messages {
  height: auto;
  padding-top: 20px;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
  background: #5FB7CA;
  color: #f5f5f5;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #000066;
  float: right;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}

}

</style>

<script>
	$(document).ready(function(){
		/* RECEIVE MESSAGE */
		App.chat.received = function(data)
		{
      if(data['message']=="")
      return;

      else
			$('<li class="sent"><p>' + data['message'] + '</p></li>').appendTo($('.messages ul'));
		}
		
    $('#msg').on('keydown', function (e){
      if (e.keyCode == 13) {
        e.preventDefault();
      }
    	if(e.which == 13) {
				$("#send").click();	
    	}
		});

		$("#send").click(function(){
			msg = $("#msg").val()
            if (msg){
				tot ='<%= current_user.username%>'+": "+msg
                /* SEND MESSAGE */
                App.chat.send_msg(tot)
				$("#msg").val(null)

            }
		})
	})
 </script>
